@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "./node_modules/tailwindcss/base.css";
@import "./node_modules/tailwindcss/components.css";
@import "./node_modules/tailwindcss/utilities.css";
@import "./node_modules/@syncfusion/ej2-base/styles/material.css";
@import "./node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "./node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "./node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "./node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "./node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "./node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "./node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "./node_modules/@syncfusion/ej2-react-grids/styles/material.css";
@import "./node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
@import './src/components/AppAdmin//Empleados/Ejemplo/template.css';
:root {
  --PrimaryColor: #e50053;
  --PixeledColor: #e50053;
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    --PixeledColor 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

@font-face {
  font-family: Crossten;
  src: url("./src/assets/fonts/CrosstenBook.otf");
  font-weight: 400;
}
@font-face {
  font-family: Crossten;
  src: url("./src/assets/fonts/CrosstenMedium.otf");
  font-weight: 500;
}
@font-face {
  font-family: Crossten;
  src: url("./src/assets/fonts/CrosstenBlack.otf");
  font-weight: 700;
}
body {
  font-family: "Crossten", sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.flexH {
  display: flex;
  align-items: center;
}

.gridH {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.principal {
  margin-top: 50px;
}

html {
  font-size: 80%;
  color: #6d6d6d;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  color: rgb(148, 20, 80);
  border-radius: 15px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: black;
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  color: black;
  background: var(--paleBlue);
  transition: 0.3s ease;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #ee0a88 0.89%, #af0462 17.23%, #ad0252 42.04%, #e50053 55.12%, hsl(240, 52%, 5%) 71.54%, hsl(320, 96%, 10%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text-gradient2 {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #14101d 0.89%, #14101d 17.23%, #14101d 42.04%, #e50053 55.12%, hsl(240, 52%, 5%) 71.54%, hsl(320, 96%, 10%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text-gradient3 {
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg, rgba(136, 7, 82, 0.9176470588) -43.27%, #aa0a67 -21.24%, #db6ddb 12.19%, #e50053 51.94%, #e50053 90.29%);
}

.bg-blue-gradient2 {
  background: linear-gradient(157.81deg, rgba(78, 5, 48, 0.9176470588) -43.27%, #360321 -21.24%, #330633 12.19%, #b1124c 51.94%, #3b0619 90.29%);
}

.bg-black-gradient {
  background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #000000 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebarNavBar {
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #e97fe7 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.nosotros:hover {
  color: rgb(207, 21, 21);
}/*# sourceMappingURL=index.css.map */