/* NewOrder.css */

.principalDiv{
  padding: 18px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
}
.tituloNew {
  text-align: start;
  margin-top: -1.3rem;
  margin-bottom: 1.5rem;
}

.tituloNew p {
  font-size: 1.3rem;
  margin-left: -1.5rem;
}

.datosClientes,
.inputDatos{
  margin-right: 32rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.control-paneMaterial, .custom-margin{
  width: 100%;
}

.control-paneMaterial{
  width: 80%;
  margin-right: 17rem;
}

.switchInstBarniz{
  text-align: center;
}

.inputDat {
  width: 125%; 
}

.contBotones {
  display: flex;
  justify-content: space-between;
  margin-top: 16rem;
}

.miP{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tituloPedido{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.custom-padding-5 {
  padding: 5px;
}

.textA {
  text-align: center;
}

.textCont {
  width: 80%;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #e500544b; 
  box-sizing: border-box; 
  color: black;

  .textCont:hover{
    border: 2px solid #e50054c4; 
  }
}


.control-sectionPedido{
  width: 75%;
  margin-right: 10rem;
  margin-top: 0rem;
}

/* Estilos adicionales del archivo NewOrder.jsx */
.inputbodyContainer {
  flex: 1;
  padding: 7.8rem;
  overflow: auto;
  margin-top: -3rem;
  height: 57rem;
  color: black;
}

.input-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.row {
  margin-bottom: 50px;
}

.col-xs-6,
.col-sm-6,
.col-lg-6,
.col-md-6 {
  flex: 0 0 48%;
}

.b-DatosPersonalesCliente {
  font-weight: bold;
  background-color: #ceb6bf;
}

.col-xs-12,
.col-sm-6,
.col-lg-6,
.col-md-6 {
  padding: 6px;
}

.textCont {
  color: black;
}

/* Estilos Botones */

.controlBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hvr-shutter-out-horizontal {
  border-radius: 20px;
  width: 350px;
  height: 40px;
  border: 1px solid #6b6565;
  margin: 20px 15px;
  margin-top: 3rem;
  margin-right: 18rem;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  color: #000000;
  font-weight: 600;
  background: #e1e1e1;
  transition-property: color;
  transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e50054;
  border-radius: 20px;
  border: none;
  transform: scaleX(0);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:active {
  color: white;
  border: none;
}

.hvr-shutter-out-horizontal:hover:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:active:before {
  transform: scaleX(1);
}
