.dialog-content {
  padding: 20px;
  text-align: center;
}

.dialog-content p {
  margin-bottom: 15px;
}

.continue-button,
.send-button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

/* Agrega estilos según sea necesario */
#dialog-target {
  text-align: center;
  padding: 20px;
}

#dialog-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

#dialog-content strong {
  color: #122564;
}

#dialog-content p {
  margin-bottom: 10px;
}

#dialog-content .continue-button,
#dialog-content .send-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

#dialog-content .send-button {
  background-color: #f44336;
}

