@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.cont-ico {
    margin-top: -230px;
    text-align: center;
}

.iconos {
    height: 2.5rem;
    margin: 25px;
    align-items: center;
}

.cont {
    text-align: right;
}

/* Dispositivos móviles */
@media (min-width: 320px) and (max-width: 759px) {
    .cont-banner {
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: -100px;
    }

    .cont{
        text-align: center;
        justify-content: center;
        height: 15rem;
    }

    .iconos {
        height: 35px;
        margin: 8px 15px;
    }

    .cont-ico {
        justify-content: center;
        text-align: left;
        margin-left: 3.5rem;
        margin-top: 50px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

/* Tablets */
@media (min-width: 760px) and (max-width: 1025px) {
    .cont-banner {
        margin-top: -100px;

    }

    .iconos {
        height: 2.2rem;
        margin: 10px 5px;
    }

}

/* Laptops y monitores */
@media (min-width: 1026px) {

}