root {
	--PrimaryColor: hsl(234, 39%, 37%);
	--PixeledColor: hsl(325, 85%, 43%);
	--HoverColor: hsl(234, 52%, 58%);
	--paleBlue: hsl(236, 53%, 90%);
	--whiteColor: hsl(0, 0%, 100%);
	--blackColor: hsl(0, 0%, 18%);
	--textColor: hsl(240, 1%, 48%);
	--bgColor: hsl(220, 10%, 94%);
	--greyText: rgb(190, 190, 190);
	--inputColor: hsl(330, 12%, 97%);

	/*Font and Typography */
	--bigFontSize: 2.5rem;
	--h1FontSize: 1.5rem;
	--h2FontSize: 1.25rem;
	--h3FontSize: 1rem;
	--normalFontSize: 0.938rem;
	--smallFontSize: 0.813rem;
	--smallestFontSize: 0.75rem;
}

.formDivRegister {
	flex-basis: 50%;
	flex-direction: column;
	gap: -1.5rem;
	margin-top: -17px;
	transform: translateY(-1rem);

	.headerDivRegi {
		text-align: center;
		padding: 1.5rem 0;
		margin: 15px 0px -35px 0px;


		img {
			width: 75px;
			margin-left: 22px;
			padding-bottom: 0.2rem;
		}

		h3 {
			font-size: 17px;
			color: var(--blackColor);
			font-weight: 600;
			margin-bottom: 15px;
		}
	}

	.regiBtn{
		padding: 0.6rem;
		border-radius: 10px;
		font-size: 19px;
		width: 80%;
		margin-top: 35px;
		border: none;
		margin-left: 50px;
		transition: 0.3s ease;
		color: var(--blackColor);
		font-weight: 700;
		background: #e5005459;

		span{
			margin-left: -10px;
		}

		.icon {
			font-size: 24px;
			transition: 0.3s ease;
			margin-left: 19rem;
			margin-top: -27px;
		}

		&:hover {
			background: #e50053;
			color: var(--whiteColor);

			.icon {
				color: var(--whiteColor);
				transition: translateX(5px);
				margin-left: 21rem;
			}
		}
	}

	.mensaje{
		margin-left: 30px;
		margin-top: 10px;
		background-color: antiquewhite;
		.text-danger{
			color: black;
			font-weight: 700;
		}
	}
}

form {
	zoom: 0.7;
	margin-top: 0px;
  
	.inpdiv {
	  position: relative;
	  width: 550px;
	  font-size: 16pt;
	  margin: auto;
  
	  input {
		width: calc(100% - 20px);
		margin-top: 36px;
		margin-bottom: -30px;
		border: 1px solid #4d4d4d5b;
		outline: none;
		gap: 0.7rem;
		padding: 1rem;
		background: var(--inputColor);
		border-radius: 10px;
		font-size: 1.4rem;
  
		&:focus,
		&:valid {
		  border: 1px solid #e50054;
		  font-size: 1.5rem;
		}
  
		&:focus ~ label,
		&:valid ~ label {
		  top: 50%;
		  color: #fff;
		  transform: translateX(10px) translateY(-13px);
		  font-size: 1.4rem;
		  padding: 0 10px;
		  background: #e50054;
		  letter-spacing: 0.2rem;
		}
	  }
  
	  .etiqueta {
		position: absolute;
		top: 85%;
		transform: translateY(-50%);
		left: 12px;
		padding: 1px;
		pointer-events: none;
		color: var(--textColor);
		text-transform: initial;
		transition: 0.5s;
		display: flex;
		align-items: center;
  
		.iconRegi {
		  font-size: 19px;
		  margin-right: 8px;
		}
	  }
  
	  .password-icon {
		position: absolute;
		top: 85%;
		right: 32px;
		transform: translateY(-50%);
		cursor: pointer;
		font-size: 25px;
	  }
	}
  
	button {
	  margin-top: -5px;
	  margin-left: 150px;
	}
  }
  
  
  @media screen and (max-width: 927px) {
	.containerRegi {
		.formDivRegister {
			flex-direction: column;

			.headerDivRegi {
				margin-top: 0px;
			}

			.regiBtn {
				width: 100%;
				margin-left: 0;
			}

			.mensaje {
				margin-left: 0;
			}
		}

		form {
			.inpdiv {
				width: 100%;

				input {
					width: 100%;
				}

				button {
					margin-top: 10px;
					margin-left: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 678px) {
	.containerRegi {
		.formDivRegister {
			.regiBtn {
				.icon {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 602px) {
	.containerRegi {
		.formDivRegister {
			.regiBtn {
				.icon {
					display: none;
				}
			}
		}
	}
}
