root {
	--PrimaryColor: #e50053;
	--PixeledColor: hsl(325, 85%, 43%);
	--HoverColor: hsl(234, 52%, 58%);
	--paleBlue: hsl(236, 53%, 90%);
	--whiteColor: hsl(0, 0%, 100%);
	--blackColor: hsl(0, 0%, 18%);
	--textColor: hsl(240, 1%, 48%);
	--bgColor: hsl(220, 10%, 94%);
	--greyText: rgb(190, 190, 190);
	--inputColor: hsl(330, 12%, 97%);
	--bigFontSize: 2.5rem;
	--h1FontSize: 1.5rem;
	--h2FontSize: 1.25rem;
	--h3FontSize: 1rem;
	--normalFontSize: 0.938rem;
	--smallFontSize: 0.813rem;
	--smallestFontSize: 0.75rem;
}

.formDivRegister {
	flex-basis: 50%;
	flex-direction: column;
	gap: -1.5rem;
	margin-top: -17px;
	transform: translateY(-1rem);

	.headerDivRegi {
		text-align: center;
		padding: 1.5rem 0;
		margin: 15px 0px -35px 0;

		img {
			width: 75px;
			margin: auto;
			padding-bottom: 0.2rem;
		}

		h3 {
			font-size: 16px;
			color: var(--blackColor);
			font-weight: 600;
			margin-bottom: 15px;
		}
	}

	.regiBtn {
		padding: 0.6rem 7rem;
		border-radius: 10px;
		font-size: 19px;
		width: 80%;
		margin-top: 35px;
		border: none;
		margin-left: 40px;
		transition: 0.3s ease;
		color: var(--blackColor);
		font-weight: 700;
		background: #e5005459;

		.icon {
			font-size: 24px;
			transition: 0.3s ease;
			margin-left: 15rem;
			margin-top: -27px;
		}

		&:hover {
			background: #e50053;
			color: var(--whiteColor);

			.icon {
				color: var(--whiteColor);
				transition: translateX(5px);
				margin-left: 19rem;
			}
		}
	}

	.mensaje {
		margin-left: 30px;
		margin-top: 10px;
		background-color: antiquewhite;
		.text-danger {
			color: black;
			font-weight: 700;
		}
	}
}

form {
	zoom: 0.7;

	.inpdiv {
		position: relative;
		width: 550px;
		font-size: 16pt;
		margin: auto;

		input {
			width: calc(100% - 20px);
			margin-top: 36px;
			margin-bottom: -30px;
			outline: none;
			gap: 0.7rem;
			padding: 1rem;
			color: var(--blackColor);
			font-weight: bold;
			border-radius: 10px;
			font-size: 1.4rem;

			&:focus,
			&:valid {
				border: 1px solid #e50054;
				font-size: 1.4rem;
			}

			&:focus ~ label,
			&:valid ~ label {
				top: 50%;
				color: #fff;
				transform: translateX(10px) translateY(-13px);
				font-size: 1.4rem;
				padding: 0 10px;
				background: #e50054;
				letter-spacing: 0.2rem;
			}
		}

		.etiqueta {
			position: absolute;
			top: 85%;
			transform: translateY(-50%);
			left: 12px;
			padding: 1px;
			pointer-events: none;
			color: var(--textColor);
			text-transform: initial;
			transition: 0.5s;
			display: flex;
			align-items: center;

			.iconRegi {
				font-size: 19px;
				margin-right: 8px;
			}
		}

		.password-icon {
			position: absolute;
			top: 85%;
			right: 32px;
			transform: translateY(-50%);
			cursor: pointer;
			font-size: 25px;
		}
	}

	button {
		margin-top: -5px;
		margin-left: 150px;
	}
}

/* Estilos específicos para pantallas más pequeñas en Register.jsx */

@media screen and (max-width: 1024px) {
	.registerPage {
	  .containerRegi {
		flex-direction: column;
		padding: 1.5rem;
  
		.videoDiv {
		  width: 100%;
  
		  .textDivRegister {
			width: 100%;
			margin-top: -1rem;
			
			.title {
			  font-size: 20px;
			}
  
			p {
			  font-size: 13px;
			  padding: 1rem;
			  margin-bottom: 14px;
			}
		  }
  
		  .footerDiv {
			font-size: 10px;
			padding: 14px 29px;
			height: 24%;
			.btnSignUp {
			  padding: 0.5rem 1.5rem;
			}
		  }
		}
  
		.formDivRegister {
		  gap: 1rem;
		  transform: translateY(-0.5rem);
		  margin: auto;
  
		  .headerDivRegi {
			padding: 1rem 0;
			margin-top: -3rem;
  
			img {
			  width: 70px;
			}
  
			h3 {
			  font-size: 18px;
			}
		  }
  
		  form {
			gap: 0.5rem;
  
			.inpdiv {
			  input {
				font-size: 14px;
				width: 100%;
				text-align: start;
				color: 2px solid var(--blackColor);
				background-color: transparent;
				padding: 0.5rem;
				caret-color: var(--blackColor);
			  }
  
			  label {
				font-size: 10px;
				margin: auto;
				padding: 0.3rem 0;
			  }
			}
  
			.regiBtn {
			  width: 230%;
			  margin-top: 2rem;
			}
		  }
		}
	  }
	}
}

@media screen and (max-width: 927px) {
	.containerRegi {
		.formDivRegister {
			flex-direction: column;

			.headerDivRegi {
				margin-top: 0px;
			}

			.regiBtn {
				width: 100%;
				margin-left: -80px;
				padding: 10px 5px;

				span{
					margin-left: -20px;
				}
				.icon {
					display: none;
				}
			}
		}

		form {
			.inpdiv {
				width: 100%;

				input {
					width: 100%;
				}

				button {
					margin-top: 10px;
					margin-left: 0;
				}
			}
		}
	}
}

  
@media screen and (max-width: 678px) {
	.registerPage {
	  .containerRegi {
		.videoDiv {
		  .textDivRegister {
			.title {
			  font-size: 20px;
			}
  
			p {
			  padding: 1rem;
			}
		  }
  
		  .footerDiv {
			.text {
			  font-size: 12px;
			}
  
			.btnSignUp {
			  padding: 0.8rem 1.5rem;
			}
		  }
		}
  
		.formDivRegister {
		  .headerDivRegi {
			padding: 1rem 0;
			margin-top: 2px;
  
			h3 {
			  font-size: 17px;
			}
		  }
  
		  form {
			.inpdiv {
			  input {
				width: 100%;
				max-width: 300px;
				padding: 1rem 7rem;
				color: var(--blackColor);
			  }
			}
  
			.regiBtn {
			  width: 100%;
			  margin-top: 5rem;
			}
		  }
		}
	  }
	}
  }
  
  @media screen and (max-width: 602px) {
	.registerPage {
	  .containerRegi {
		height: 100%;
		width: 95%;
		flex-direction: column;
		padding: 1.5rem;
  
		.videoDiv {
		  width: 100%;
		  .textDivRegister {
			.title {
			  font-size: 20px;
			}
  
			p {
			  padding: 1rem;
			}
		  }
  
		  .footerDiv {
			.text {
			  font-size: 12px;
			}
  
			.btnSignUp {
			  padding: 0.4rem 1.5rem;
			}
		  }
		}
  
		.formDivRegister {
		  gap: 1rem;
		  transform: translateY(-0.5rem);
  
		  .headerDiv {
			padding: 1rem 0;
  
			img {
			  width: 50px;
			}
  
			h3 {
			  font-size: 20px;
			}
		  }
  
		  form {
			gap: 0.5rem;
  
			.inpdiv {
			  text-align: center;
			  margin: 0;
			  input {
				font-size: 10px;
				width: 100%;
				max-width: none;
				padding: -1.4rem 6rem;
			  }
  
			  label {
				font-size: 12px;
				margin: auto;
				border-radius: 12px;
				margin-top: -1rem;
				padding: 0.3rem 0;
			  }
  
			  .password-icon {
				font-size: 12px;
			  }
			}
  
			.regiBtn {
			  width: 100%;
			  font-size: 10px;
			  margin: auto;
			  margin-top: 3rem;
			  padding: 0.5rem 5rem;
			}
		  }
		}
	  }
	}
  }

  @media screen and (max-width: 375px) {
	form {
	  .inpdiv {
		input {
		  width: calc(100% - 20px);
		  margin-top: 36px;
		  margin-bottom: 0; // Elimina el margen negativo
		}
	  }
	}
  }
  